/*
Theme Name: Shop-isle Child
Template: shop-isle
Text Domain: shop-isle-child
*/
body{
    font-family: 'Roboto', sans-serif;
    min-width: 100%;
    font-size: 16px;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.custom-logo {
    width: 70%;
}
/* Navbar*/
.navbar-custom {
    background-color: white;
}

.navbar-custom .nav li > a {
    color: black;
    font-size: 16px;
}

.navbar-cart-inner {
    visibility: hidden;
    display: none;
}
.navbar-cart {
    width: unset !important;
}

.page .navbar-custom {
    background-color: white !important;
}

.woocommerce-ordering {
    display: none;
}
.navbar-custom .navbar-toggle .icon-bar {
    background: #111 !important;
}
.navbar-custom .sub-menu, .navbar-custom .children {
    background: #ffffff !important;
    
}
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom .sub-menu > li > a:focus,
.navbar-custom .sub-menu > li > a:hover {
	color: rgba(0, 0, 0, 0.5);
	
}

/*logo*/
.shop-isle-header-title-inner{
    text-align: left;
}
.shop_isle_header_title{
    margin-left: 0px;
    padding: 0px;
}

/*search*/
.header-search-button:hover {
    color: rgba(0, 0, 0, 0.5);
}
.header-search{
    float: right !important;
    text-align: right !important;
}


.dropdownmenu {
    color: #23282dbd;
}
/*dropdown arrow*/
.navbar-custom li.has_children > .dropdownmenu:before{
    font-size: 14px;
}
/*icons*/
.fab, .fas {
    color: #82a0ab;
}

/*scroll up arrow*/
.arrow_carrot-2up:before{
    font-size: 30px;
}
.scroll-up{
    bottom: 20px;
    right: 20px;
}

/* product page */
ul.products li.product h2, ul.products li.product h3, .wccm-td div, .product .product-button-wrap .add_to_cart_button, .product .product-button-wrap .button.product_type_external, ul.products li.product .product-button-wrap .button.product_type_simple, ul.products li.product .product-button-wrap .button.product_type_grouped, ul.products li.product .product-button-wrap .button.product_type_external, .shop-item .product-button-wrap .add_to_cart_button, .shop-item .product-button-wrap .button.product_type_external, .shop-item .product-button-wrap .button.product_type_grouped, .shop-item .product-button-wrap .button.product_type_variable, ul.products li.product .product-button-wrap .product_type_variable {
    font-size: 16px !important;
}

/*product beskrivelse*/
.summary {
    border-top: 0.2px solid;
    padding-top: 50px !important;
}

/*Banner*/

.banner, .bottom-page-wrap{
    border-top: 0.2px solid #8a8a8a;
    padding-top: 40px;
    padding-bottom: 40px;
}
#text-design,  #text-distri{
    padding-left: 150px;
}
#text-manufac{
    padding-right: 150px;
}
.center-with-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts-wrapper {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}


#sketch-posts-wrapper {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.read-more{
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border: 1px solid #000000;
}
.read-more:hover{
    background-color: black;
    color: white;

}

/* Designer/Manufactor/Distributor page */
.collaborators-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 2em;
    grid-auto-rows: 1fr
}
.collaborators-grid > div {
    display: flex;
    align-items: center;
    vertical-align: middle;
    border: solid rgba(0, 0, 0, 0.1) 1px;
    padding: 2em;
}
.collaborators-grid p{
    margin-top: 20px;
}

/*Content-single pages*/
#collaborators-image{
    text-align: right;
}

/* Footer */
.bg-dark{
    background-color: #ffffff !important;
    color: #111;
}
.bg-dark a{
    color: #000000;
}
#mc_embed_signup .button{
    border-radius: 0px !important;
    background-color: #82a0ab !important;
    font-size: 16px !important;
    border: 1px solid #82a0ab !important;
}
#mc_embed_signup .button:hover{
    background-color: white !important;
    color: #82a0ab;
}
html .required {
    border-bottom: 1px darkgray solid !important;
}
#mc_embed_signup form{
    padding: 0px !important;
}
.divider-d {
    border-top: 1px solid #eaeaea;
}
.textwidget>p>a:hover {color: #82a0ab;}

#mc-embedded-subscribe-form>p, #mc_embed_signup_scroll>p {
margin: 0px;
}
#mc_embed_signup_scroll .mc-field-group {
    padding-bottom: 1% !important;
}
.post-navigation {
    display: none;
}
@media (max-width: 600px) {
body.admin-bar .navbar.navbar-scroll-point.navbar-fixed-top .navbar-collapse {
    max-height: unset !important;
    margin-top: 0px;
    }
    #designer {
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
}